name: wad_explorer
description: WAD file explorer and viewer tool
publish_to: none
version: 1.0.0+1

environment:
  sdk: ^3.0.0

dependencies:
  cross_file: ^0.3.5
  desktop_drop: ^0.5.0
  doom_wad:
    path: ../../packages/doom_wad
  file_picker: ^8.0.0
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  very_good_analysis: ^6.0.0

flutter:
  uses-material-design: true
